<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pruewba"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <activity
            android:name=".Vistas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vistas.Login"
            android:exported="false"/>
        <activity android:name=".Vistas.Consulta"
            android:exported="false"/>
        <activity android:name=".Vistas.Servicios"
            android:exported="false"/>
        <activity android:name=".Vistas.ServicioDetalle"
            android:exported="false"/>
        <activity android:name=".Vistas.Agenda"
            android:exported="false"/>
        <activity android:name=".Vistas.Historial"
            android:exported="false"/>
        <activity android:name=".Vistas.ConsultaDetalle"
            android:exported="false"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notificacion" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_corporativo" />

        <service android:name=".MyFirebaseMessagingService" />

    </application>

</manifest>